p { color:rgb(17, 179, 179) ;  text-align: center;}
h1 { text-align: center;}
button {text-align: center;}
h2{color:darkcyan; text-align: center;font-size:xx-large;}
h3{color:darkcyan; text-align: center;font-size:xx-large;}
a{color:indianred; font-size: medium; text-align: center;}
h1{color:rebeccapurple;font-size:xx-large; text-align: center;}
